@import './variables';

img {
  width: 100%;
}

.app {
  background-color: $appBG-color;
  height: 100vh;
  font-family: $FF;
}

.wrapper {
  color: $color_gray300;
  // max-width: 1440px;
  padding: 15px;
}

.container {
  max-width: 800px;
  margin: 0px auto;
  font-weight: 900;
}

// LOGO styles

.logo {
  margin-top: 75px / 800px * 100%;
  margin-bottom: 55px / 800px * 100%;;
  // text-align: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  h1 {
    font-size: 40px;
    font-weight: 900;
    color: $secondary-color;
      span {
          color: $primary-color;
        }
  }
  &_img {
    max-width: 100px;
    margin-top: 5px;
    img {
      width: 22px;
      height: 36px;
    }
  }
}